.colorPickerPopup {
    padding:4px !important;
}
.react-colorful >* {
    border-radius:0 !important;
}
.colorPickerFields {
    display:flex;
    width:100%;
    overflow:hidden;
    padding-top:4px;
    gap:4px
}
.colorPickerFields>input {
    float:none;
    overflow:hidden;
    width:0;
    flex-grow:1;
}
.colorPickerFields>button {
    float:right;
    flex-grow:0;

    border:none;
    border-radius:0;
    --bs-btn-hover-bg:var(--color-mid-trans) !important;
    --bs-btn-bg:var(--color-mid) !important;
    --bs-btn-active-bg:var(--color-alert-trans) !important;
    --bs-btn-disabled-bg:var(--color-mid-trans) !important;
}