.react-flow__attribution {
    display:none;
}
.react-flow__background>pattern>path {
    stroke:var(--color-high-trans);
}
.flowInterfaceWrapper {
    overflow:hidden;
}

.toolsetOverlay {
    display:flex;
    flex-direction:row;
    position:absolute;
    z-index: 10;
    /* top:0;
    left:0;
    right:0; */
    top:0;
    left:0;
    height:0;
    overflow:visible;
}
.addNoteButton {
    z-index: 1;
    position:absolute;
    right:0;
    bottom:0;
    margin:50px;
    
    width:10vh;
    height:10vh;
       
    border: none !important;
    border-radius: 100% !important;

    display:block;
    align-items: center;
    align-content: center;
}
.addNoteButton>svg {
    /* scale:10%; */
    margin:auto;
    width:7vh !important;
    height:auto !important;
}

.addNoteButton {
    background-color: var(--color-high) !important;
}
.addNoteButton:hover {
    background-color:var(--color-high-trans) !important;
}
.addNoteButton>svg>path {
    stroke:var(--color-low) !important;
}

.ql-container {
    border:none !important;
}
/* .ql-container.selectable {
    border:none !important;
}
.ql-container.selected {
    border-color:var(--color-alert) !important;
    border-width:1px !important;
} */
.react-flow__resize-control.line {
    border-color:var(--color-alert) !important;
    border-width:1px !important;
    background-color:var(--color-alert)
}
.react-flow__resize-control.handle {
    border-color:var(--color-alert) !important;
    background-color: var(--color-green) !important;
    width:6px;
    height:6px;
}

.react-flow__node,
.react-flow__node-note {
    width:130px;
    height:100px;
    /* overflow:hidden; */
}
.react-flow__node-note {
    background-color:var(--color-high);
    /* box-shadow:4px 4px var(--color-low-trans),
               inset 0 8px var(--color-low); */
    box-shadow: 4px 4px var(--color-low-trans);
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    border-top:8px solid var(--color-low);
}
.react-flow__node-note>.quill {
    z-index: 2;
    width:100%;
}
.react-flow__node-note>.quill>.ql-container>.ql-editor {
    scrollbar-width:thin;
    scrollbar-gutter: stable both-edges;
    scrollbar-color: var(--color-low-trans) transparent;
}
.react-flow__node-note>.quill>.ql-container>.ql-editor>* {
    cursor:pointer;
}

#temp {
    z-index: 3 !important;
}
.react-flow__nodes {
    z-index: -1;
}
.react-flow__edge-path {
    stroke:var(--color-low);
    stroke-width: 2px;
}
.react-flow__edge.selected>.react-flow__edge-path {
    stroke:var(--color-alert-trans);
    z-index:2 !important;
}
.react-flow__edge.selected>.react-flow__edge-interaction {
    stroke-width:5;
    stroke-opacity:0.5 !important;
    stroke:var(--color-alert-trans);
    z-index:1 !important;
}

.react-flow__handle {
    width:100%;
    height: 100%;
}
.react-flow__handle {
    z-index:10;
    border-radius:0;
    top:0;
    bottom:0;
    border:none;
    background:none;
}
/*dummy circle*/
.react-flow__handle::after {
    content:"";
    position:relative;
    display:flex;
    border:none;
    border-radius:100%;
    width:8px;
    height:8px;
    background:var(--color-alert);
    margin-left:auto;
    margin-right: auto;
    top:-4px;
}

.react-flow__minimap {
	background-color: var(--color-mid);
}