.react-flow__attribution {
    display:none;
}
.react-flow__background>pattern>path {
    stroke:var(--color-high-trans);
}
.flowInterfaceWrapper {
    overflow:hidden;
}
.addNoteButton {
    z-index: 1;
    position:absolute;
    right:0;
    bottom:0;
    margin:50px;
    
    width:10vh;
    height:10vh;
       
    border: none !important;
    border-radius: 100% !important;

    display:block;
    align-items: center;
    align-content: center;
}
.addNoteButton>svg {
    /* scale:10%; */
    margin:auto;
    width:7vh !important;
    height:auto !important;
}

.addNoteButton {
    background-color: var(--color-high) !important;
}
.addNoteButton:hover {
    background-color:var(--color-high-trans) !important;
}
.addNoteButton>svg>path {
    stroke:var(--color-low) !important;
}

.ql-container {
    border:none !important;
}
/* .ql-container.selectable {
    border:none !important;
}
.ql-container.selected {
    border-color:var(--color-alert) !important;
    border-width:1px !important;
} */
.react-flow__resize-control.line {
    border-color:var(--color-alert) !important;
    border-width:1px !important;
    background-color:var(--color-alert)
}
.react-flow__resize-control.handle {
    border-color:var(--color-alert) !important;
    background-color: var(--color-green) !important;
    width:6px;
    height:6px;
}

.react-flow__node,
.react-flow__node-note {
    width:130px;
    height:100px;
}
.react-flow__node-note {
    background-color:var(--color-high);
    /* box-shadow:4px 4px var(--color-low-trans),
               inset 0 8px var(--color-low); */
    box-shadow: 4px 4px var(--color-low-trans);
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    border-top:8px solid var(--color-low);
}
.react-flow__node-note>.quill {
    z-index: 2;
    width:100%;
}
.react-flow__node-note>.quill>.ql-container>.ql-editor {
    scrollbar-width:thin;
    scrollbar-gutter: stable both-edges;
    scrollbar-color: var(--color-low-trans) transparent;
}
.react-flow__node-note>.quill>.ql-container>.ql-editor>* {
    cursor:pointer;
}

#temp {
    z-index: 3 !important;
}
.react-flow__edges {
    z-index: 2 !important;
}
.react-flow__nodes {
    z-index: 1;
}
.react-flow__edge-path {
    stroke:var(--color-low);
    stroke-width: 2px;
}
.react-flow__edge.selected>.react-flow__edge-path {
    stroke:var(--color-alert-trans);
}

.react-flow__handle {
    z-index:10;
    width:8px;
    height: 8px;
    border:none;
    background:var(--color-alert);
}