@import 'palette.css';

.App {
  display:grid;
  text-align: left;
}

.contentWrapper {
  top:0;
  left:0;
  width:100vw;
  height:94vh;
}

.leftContentWrapper {
  float:left;
  width:50%;
  height:100%;
  background-color: var(--color-mid);
}

.rightContentWrapper {
  float:right;
  width:50%;
  height:100%;  
  background-color:var(--color-high);
}
