.palette-light {
	--color-high: rgb(219, 212, 189);
	--color-low: rgb(87, 84, 74);
	--color-mid: rgb(151, 147, 129);
	--color-alert: rgb(205, 102, 77);
	--color-green: rgb(116, 189, 133);

    --color-high-trans: rgba(218, 212, 187, 0.8);
	--color-mid-trans: rgb(151, 147, 129, 0.7);
	--color-low-trans: rgba(87, 84, 74, 0.6);
	--color-alert-trans: rgba(205, 102, 77, 0.7);
	--color-green-trans: rgb(116, 189, 133, 0.6);

	/* transition: linear 1s; */
}

.palette-dark {
	--color-low: rgb(219, 212, 189);
	--color-high: rgb(87, 84, 74);
	--color-mid: rgb(151, 147, 129);
	--color-green: rgb(205, 102, 77);
	--color-alert: rgb(116, 189, 133);

    --color-low-trans: rgba(218, 212, 187, 0.8);
	--color-mid-trans: rgb(151, 147, 129, 0.7);
	--color-high-trans: rgba(87, 84, 74, 0.6);
	--color-green-trans: rgba(205, 102, 77, 0.7);
	--color-alert-trans: rgb(116, 189, 133, 0.6);
	
	/* transition: linear 1s; */
}