.Resizer {
    background: var(--color-low);
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    box-shadow:
      2px 0 var(--color-low-trans),
      -2px 0 var(--color-low-trans);
  }
  
  .Resizer:hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .Resizer.vertical {
    width: 12px;
    margin: 0 -4px;
    border-left: 2px solid rgba(255, 255, 255, 0);
    border-right: 2px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }
  
  .Resizer.vertical:hover {
    border-left: 2px solid var(--color-low-trans);
    border-right: 2px solid var(--color-low-trans);
  }