.bottomBar {
    height: 1.5em;
    width:100%;
    background-color:var(--color-low);
}

.leftContent {
    position:absolute;
    left:0;
}

.rightContent {
    position:absolute;
    right:0;
}

.leftContent>span {
    color:var(--color-high);
    margin-left: 0.25em;
    padding-right: 0.25em;
    border-right: solid 1px var(--color-mid-trans);
}
.rightContent>span {
    color:var(--color-high);
    margin-right: 0.25em;
    padding-left: 0.25em;
    border-left: solid 1px var(--color-mid-trans);
}